@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

  .animate-rainbow {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* ทำให้ตัวอักษรโปร่งใส */
    animation: rainbow 10s linear infinite;
  }
